@import "tailwindcss";
@theme {
  --color-foreground: hsl(var(--border));
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .game-title {
    @apply font-bold font-sans text-5xl p-5 text-emerald-800;
  }
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

button {
  @apply cursor-pointer;
}
