@import "tailwindcss";
@theme {
  --color-foreground: hsl(var(--border));
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
